body {
    padding: 50px;
}
.books, .books td {
    border: 1px solid lightgray;
    padding: 5px;
}
.add {
    padding: 5px;
}
label {
    display: inline-block;
    width: 100px;
}
input:read-only {
    background: lightgray;
}
.row {
    margin-top: 10px;
}
.link-like-button {
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}